@import "../node_modules/bulma/css/bulma.css";

input,
textarea,
button,
select,
a,
svg {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --text-primary: white;
  --bg-rgbh1: 0;
  --bg-rgbh2: 0;
  --bg-rgbs1: 0%;
  --bg-rgbs2: 0%;
  --bg-rgbl1: 13.3%;
  --bg-rgbl2: 7.8%;
  --bg-a: 0%;
  --bg-rgb1: var(--bg-rgbh1), var(--bg-rgbs1), var(--bg-rgbl1); /* Lighter color */
  --bg-rgb2: var(--bg-rgbh1), var(--bg-rgbs2),
    calc(var(--bg-rgbl2) - var(--bg-a)); /* Darker color */
  /* --bg-dark: #141414; */
  /* --bg-light: #222222; */
  --bg-light: hsl(var(--bg-rgb1));
  --bg-dark: hsl(var(--bg-rgb2));
  /* --bg-dark: rgb(var(--bg-rgb2), var(--bg-a)); */
  /* OG */
  /* --link-primary: #ee720d; */
  --link-hover: #1eaedb;
  /* END - OG */
  /* NEW */
  --link-primary: #0cf07b;
  /* --link-hover: #fe2603; */
  /* END - NEW */
  --title-size: xx-large;
  --text-gray: #999999;
  --font-family: "Fira Code", monospace;
  --error-text: red;
  --code-font-size: small;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "Ubuntu Mono", monospace; */
  font-family: var(--font-family) !important;
  margin: 0;
  background-color: var(--bg-dark);
  color: var(--text-primary);
  padding: 5px 20px;
  font-size: 92% !important;
}

body {
  /* padding-top: 15px; */
  padding-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit !important;
}

nav#header {
  min-height: 50px;
  background-color: inherit;
  display: grid;
  padding: 0 1.2rem;
  margin: 1.5rem 0;
}

/* .logo span img {
  filter: invert(1);
  mix-blend-mode: difference;
  fill: var(--text-primary);
} */

.l {
  color: var(--link-primary);
  margin: 0px 10px;
}
.l:hover {
  color: var(--link-hover) !important;
  cursor: pointer;
}
.btn,
.btn-white {
  border-color: var(--link-primary) !important;
  background-color: var(--link-primary) !important;
  color: var(--bg-dark) !important;
  height: fit-content;
  padding: 2px 10px;
  /* padding-left: 15px;
  padding-right: 15px; */
}
.btn:hover,
.btn-white:hover {
  border-color: var(--link-hover) !important;
  background-color: var(--link-hover) !important;
}

.btn-white {
  border-color: var(--text-primary) !important;
  background-color: var(--text-primary) !important;
}

#menu > a:last-child {
  margin-right: 0px;
}
#menu > a:first-child {
  margin-left: 0px;
}

.box {
  background-color: var(--bg-light) !important;
  padding: 5px !important;
}

#Codearea {
  padding: 0 !important;
}

input,
select {
  font-size: larger;
  caret-color: var(--text-primary);
  background-color: inherit;
  border: none;
  outline: none;
  color: var(--text-primary);
  font-family: inherit;
}
select option {
  color: var(--text-primary);
  background-color: var(--bg-dark);
  font-size: medium;
}
input::placeholder,
select::placeholder {
  color: var(--text-gray);
}
input:focus {
  outline: none;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  transition: box-shadow 0.3s;
  background-color: var(--text-primary);
  border: 0;
  appearance: none;
  -webkit-appearance: none;
}

input[type="checkbox"]:checked {
  box-shadow: inset 0 0 0 7.5px var(--link-primary);
}

/* input range CSS */
input[type="range"] {
  -webkit-appearance: none;
  border-radius: 10px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 10px;
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--link-primary);
}
input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 2px;
  background: var(--bg-dark);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--link-primary);
}
input[type="range"]::-moz-range-track {
  cursor: pointer;
  animate: 0.2s;
  background: var(--link-primary);
}
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 2px;
  background: var(--bg-dark);
  cursor: pointer;
}
input[type="range"]::-ms-track {
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: var(--link-primary);
  border-radius: 10px;
}
input[type="range"]::-ms-fill-upper {
  background: var(--link-primary);
  border-radius: 10px;
}
input[type="range"]::-ms-thumb {
  height: 15px;
  width: 15px;
  border-radius: 2px;
  background: var(--bg-dark);
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--link-primary);
}
input[type="range"]:focus::-ms-fill-upper {
  background: var(--link-primary);
}

/* END input range CSS */

div.full-screen-visible {
  visibility: visible;
  opacity: 0.35;
  position: fixed;
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
  border-radius: 5px;
  grid-auto-flow: row !important;
  transition: opacity 0.15s ease-in, background-color 0.15s ease-in;
}

div.full-screen-visible:hover {
  background-color: var(--bg-light);
  opacity: 1;
}

div.full-screen-invisible {
  visibility: hidden;
  position: absolute;
}

.svgButton {
  transform: scale(0.6);
}

.svgButton svg {
  fill: var(--text-gray);
}

.svgButton:hover svg {
  cursor: pointer;
  fill: var(--link-hover);
}

.svgButton input:checked + svg {
  fill: var(--link-primary);
}

#wordWrapToggle + svg,
#selectFile + svg {
  transform: scale(0.85);
}

/* Code menu CSS */
.titleBlock label {
  color: var(--text-gray);
}

/* CodeMirror CSS */

.CodeMirror {
  font-size: var(--code-font-size);
}

.CodeMirror,
.CodeMirror-gutters {
  transition: all 0.75s ease-in, height 0s, width 0s, border-right 0s !important;
}

.CodeMirror-fullscreen {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: 9;
}

.toggleButtons {
  margin: auto;
}

/* Modal CSS */

.modal {
  display: flex !important;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-out; /* Closing the modal */
}

.modal.is-active {
  visibility: visible;
  opacity: 1;
  transition: all 0.25s ease-in; /* Opening the modal */
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-card {
  border-radius: 10px;
  max-width: min(500px, calc(100% - 40px));
}

.modal-card header,
.modal-card header *,
.modal-card footer {
  border-color: var(--link-primary);
  background-color: var(--bg-dark);
  color: var(--link-primary);
}

.modal-card section {
  background-color: var(--bg-light);
}

.modal-card-body select {
  font-size: small;
}

.tableCols2 {
  display: grid;
  grid-template-columns: auto 100px;
  justify-content: space-around;
  justify-items: stretch;
  align-items: center;
  row-gap: 10px;
}

.modalSubHeading {
  color: var(--text-gray);
  grid-column: 1 / 3;
  border-bottom: 1px dotted var(--text-gray);
  padding-bottom: 2px;
  margin-bottom: 7px;
  margin-top: 5px;
}

.modalSubHeading:hover,
.modal-card p:hover {
  cursor: default;
}

.modalSubHeading:nth-child(1) {
  margin-top: 0px;
}

/* END Modal CSS */

/* Custom scroll bar in Chromium browsers */
/* custom scrollbar */

::-webkit-scrollbar {
  transition: all 1.5s ease-in-out !important;
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  opacity: 0.2;
  /* background-color: var(--link-primary); */
  background-color: var(--text-primary);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--link-primary);
  /* background-color: var(--text-primary); */
  border: 4px solid transparent;
}

/* Transitions */

.hvrBtn:hover,
.hvrBtn:hover svg {
  transition: color 0.15s ease-in, background-color 0.15s ease-in,
    background 0.15s ease-in, fill 0.2s ease-in;
}

@media screen and (max-width: 630px) {
  html {
    font-size: 85% !important;
  }
  body {
    padding: 0;
  }
  #header {
    grid:
      "logoImgArea logoTextArea . . donateArea"
      "contentArea contentArea contentArea contentArea contentArea" !important;
  }
  .btn {
    padding: 2px 10px;
  }
  .titleBlock {
    row-gap: 15px;
    justify-content: space-between;
    grid:
      "pasteTitleArea ."
      "languageArea themeArea" !important;
  }
  #codeBtnDiv {
    row-gap: 15px;
    grid-auto-flow: row !important;
  }
}

#text-editor .CodeMirror {
  height: 50vh;
}

/* Hover Problems */

@media (hover: none) {
  .svgButton:hover svg {
    fill: var(--text-gray);
  }
}

/* Transition problems */

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
